USE [master]
GO
/****** Object:  Database [CLB_TNUT]    Script Date: 21/06/2026 7:46:50 CH ******/
CREATE DATABASE [CLB_TNUT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CLB_TNUT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.K235480106081\MSSQL\DATA\CLB_TNUT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CLB_TNUT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.K235480106081\MSSQL\DATA\CLB_TNUT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CLB_TNUT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CLB_TNUT]
GO
/****** Object:  Table [dbo].[auth_group]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_group_permissions]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_permission]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[content_type_id] [int] NOT NULL,
	[codename] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[last_login] [datetimeoffset](7) NULL,
	[is_superuser] [bit] NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[first_name] [nvarchar](150) NOT NULL,
	[last_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[is_staff] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[date_joined] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_groups]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_groups](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[group_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_user_permissions]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_user_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_caulacbo]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_caulacbo](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_clb] [nvarchar](100) NOT NULL,
	[mo_ta] [nvarchar](max) NOT NULL,
	[hinh_anh] [nvarchar](100) NULL,
	[gioi_thieu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_dangkyclb]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_dangkyclb](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_dang_ky] [datetimeoffset](7) NOT NULL,
	[trang_thai] [nvarchar](20) NOT NULL,
	[clb_id] [bigint] NOT NULL,
	[sinh_vien_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_dangkysukien]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_dangkysukien](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ngay_dang_ky] [datetimeoffset](7) NOT NULL,
	[sinh_vien_id] [bigint] NOT NULL,
	[su_kien_id] [bigint] NOT NULL,
	[trang_thai] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_filethanhviensukien]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_filethanhviensukien](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[file_excel] [nvarchar](100) NOT NULL,
	[ngay_upload] [datetimeoffset](7) NOT NULL,
	[su_kien_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_hososinhvien]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_hososinhvien](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[mssv] [nvarchar](20) NOT NULL,
	[lop] [nvarchar](50) NOT NULL,
	[khoa] [nvarchar](100) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[ngay_sinh] [date] NULL,
	[avatar] [nvarchar](100) NULL,
	[user_id] [int] NOT NULL,
	[vai_tro] [nvarchar](20) NOT NULL,
	[CLB] [nvarchar](100) NULL,
	[clb_quan_ly_id] [bigint] NULL,
	[clb_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_sukien]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_sukien](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_su_kien] [nvarchar](200) NOT NULL,
	[ngay_to_chuc] [date] NOT NULL,
	[dia_diem] [nvarchar](200) NOT NULL,
	[mo_ta] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_tailieuclb]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_tailieuclb](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ten_file] [nvarchar](200) NOT NULL,
	[file] [nvarchar](100) NOT NULL,
	[ngay_tao] [datetimeoffset](7) NOT NULL,
	[clb_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_thanhvien]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_thanhvien](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[mssv] [nvarchar](20) NOT NULL,
	[lop] [nvarchar](20) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[clb_id] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[club_thongbaoclb]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[club_thongbaoclb](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[tieu_de] [nvarchar](200) NOT NULL,
	[noi_dung] [nvarchar](max) NOT NULL,
	[ngay_tao] [datetimeoffset](7) NOT NULL,
	[clb_id] [bigint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_admin_log]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_admin_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_time] [datetimeoffset](7) NOT NULL,
	[object_id] [nvarchar](max) NULL,
	[object_repr] [nvarchar](200) NOT NULL,
	[action_flag] [smallint] NOT NULL,
	[change_message] [nvarchar](max) NOT NULL,
	[content_type_id] [int] NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_content_type]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_content_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[app_label] [nvarchar](100) NOT NULL,
	[model] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_migrations]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_migrations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[app] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[applied] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_session]    Script Date: 21/06/2026 7:46:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_session](
	[session_key] [nvarchar](40) NOT NULL,
	[session_data] [nvarchar](max) NOT NULL,
	[expire_date] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[auth_permission] ON 

INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (1, N'Can add log entry', 1, N'add_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (2, N'Can change log entry', 1, N'change_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (3, N'Can delete log entry', 1, N'delete_logentry')
SET IDENTITY_INSERT [dbo].[auth_permission] OFF
GO
SET IDENTITY_INSERT [dbo].[auth_user] ON 

INSERT [dbo].[auth_user] ([id], [password], [last_login], [is_superuser], [username], [first_name], [last_name], [email], [is_staff], [is_active], [date_joined]) VALUES (1, N'n0123456', NULL, 0, N'K235480106081', N'', N'', N'nhuy@tnut.edu.vn', 0, 1, CAST(N'2026-06-02T18:40:56.0363800+00:00' AS DateTimeOffset))
INSERT [dbo].[auth_user] ([id], [password], [last_login], [is_superuser], [username], [first_name], [last_name], [email], [is_staff], [is_active], [date_joined]) VALUES (3, N'pbkdf2_sha256$1200000$xdwsq8yP5LbLkQA6rcIhgK$hHm39rrzpbKdZqRixPgRonimjbAHBEp+iNORqkXHCg0=', CAST(N'2026-06-19T02:36:51.5052510+00:00' AS DateTimeOffset), 0, N'K235480106070', N'', N'', N'thuy@tnut.edu.vn', 0, 1, CAST(N'2026-06-02T19:18:23.8279950+00:00' AS DateTimeOffset))
INSERT [dbo].[auth_user] ([id], [password], [last_login], [is_superuser], [username], [first_name], [last_name], [email], [is_staff], [is_active], [date_joined]) VALUES (4, N'pbkdf2_sha256$1200000$lDpCyrCbT87yIz8ixId42I$ppd+b7XVQYWOddsw4AMTYvu4h0EkGcjrtrvSmW4IcrU=', CAST(N'2026-06-04T06:41:37.0607940+00:00' AS DateTimeOffset), 0, N'K235480106019', N'', N'', N'Hai@tnut.edu.vn', 0, 1, CAST(N'2026-06-02T19:26:10.9657460+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[auth_user] OFF
GO
SET IDENTITY_INSERT [dbo].[club_caulacbo] ON 

INSERT [dbo].[club_caulacbo] ([id], [ten_clb], [mo_ta], [hinh_anh], [gioi_thieu]) VALUES (1, N'CLB Công Nghệ Thông Tin', N'Nghiên cứu và phát triển phần mềm', N'clb/tải_xuống_FJU6aYV.jpg', N'Thành lập năm: xxxx

Chủ nhiệm CLB: Trần Văn X

Trải qua n năm thành lập clb...')
INSERT [dbo].[club_caulacbo] ([id], [ten_clb], [mo_ta], [hinh_anh], [gioi_thieu]) VALUES (2, N'CLB Tiếng Anh', N'Rèn luyện kỹ năng giao tiếp', N'clb/tải_xuống_1_pkQxRp0.jpg', NULL)
INSERT [dbo].[club_caulacbo] ([id], [ten_clb], [mo_ta], [hinh_anh], [gioi_thieu]) VALUES (3, N'CLB Truyền Thông', N'Tổ chức sự kiện và truyền thông', N'clb/tải_xuống_2_zDb8SAq.jpg', NULL)
SET IDENTITY_INSERT [dbo].[club_caulacbo] OFF
GO
SET IDENTITY_INSERT [dbo].[club_dangkyclb] ON 

INSERT [dbo].[club_dangkyclb] ([id], [ngay_dang_ky], [trang_thai], [clb_id], [sinh_vien_id]) VALUES (1, CAST(N'2026-06-02T19:19:07.5143380+00:00' AS DateTimeOffset), N'Đã duyệt', 1, 3)
INSERT [dbo].[club_dangkyclb] ([id], [ngay_dang_ky], [trang_thai], [clb_id], [sinh_vien_id]) VALUES (2, CAST(N'2026-06-02T19:26:40.9141880+00:00' AS DateTimeOffset), N'Đã duyệt', 1, 4)
INSERT [dbo].[club_dangkyclb] ([id], [ngay_dang_ky], [trang_thai], [clb_id], [sinh_vien_id]) VALUES (3, CAST(N'2026-06-02T19:28:39.9382300+00:00' AS DateTimeOffset), N'Đã duyệt', 3, 4)
SET IDENTITY_INSERT [dbo].[club_dangkyclb] OFF
GO
SET IDENTITY_INSERT [dbo].[club_dangkysukien] ON 

INSERT [dbo].[club_dangkysukien] ([id], [ngay_dang_ky], [sinh_vien_id], [su_kien_id], [trang_thai]) VALUES (1, CAST(N'2026-06-02T19:19:20.4251110+00:00' AS DateTimeOffset), 3, 1, N'Đã duyệt')
INSERT [dbo].[club_dangkysukien] ([id], [ngay_dang_ky], [sinh_vien_id], [su_kien_id], [trang_thai]) VALUES (2, CAST(N'2026-06-02T20:09:07.9248780+00:00' AS DateTimeOffset), 3, 6, N'Đã duyệt')
INSERT [dbo].[club_dangkysukien] ([id], [ngay_dang_ky], [sinh_vien_id], [su_kien_id], [trang_thai]) VALUES (3, CAST(N'2026-06-07T16:06:28.2886670+00:00' AS DateTimeOffset), 3, 2, N'Đã duyệt')
SET IDENTITY_INSERT [dbo].[club_dangkysukien] OFF
GO
SET IDENTITY_INSERT [dbo].[club_hososinhvien] ON 

INSERT [dbo].[club_hososinhvien] ([id], [ho_ten], [mssv], [lop], [khoa], [email], [ngay_sinh], [avatar], [user_id], [vai_tro], [CLB], [clb_quan_ly_id], [clb_id]) VALUES (2, N'Nguyễn Thị Như Ý', N'K235480106081', N'K59KMT', N'Điện tử', N'nhuy@tnut.edu.vn', NULL, N'', 1, N'SinhVien', N'CLB Công Nghệ Thông Tin', NULL, 1)
INSERT [dbo].[club_hososinhvien] ([id], [ho_ten], [mssv], [lop], [khoa], [email], [ngay_sinh], [avatar], [user_id], [vai_tro], [CLB], [clb_quan_ly_id], [clb_id]) VALUES (3, N'Trần Thị Thùy', N'K235480106070', N'K59KMT', N'Điện tử', N'thuy@tnut.edu.vn', NULL, N'', 3, N'SinhVien', N'CLB Công Nghệ Thông Tin', NULL, 1)
INSERT [dbo].[club_hososinhvien] ([id], [ho_ten], [mssv], [lop], [khoa], [email], [ngay_sinh], [avatar], [user_id], [vai_tro], [CLB], [clb_quan_ly_id], [clb_id]) VALUES (4, N'Đỗ Ngọc Hải', N'K235480106019', N'K59KMT', N'Điện tử', N'Hai@tnut.edu.vn', NULL, N'', 4, N'SinhVien', N'CLB Công Nghệ Thông Tin', NULL, 1)
SET IDENTITY_INSERT [dbo].[club_hososinhvien] OFF
GO
SET IDENTITY_INSERT [dbo].[club_sukien] ON 

INSERT [dbo].[club_sukien] ([id], [ten_su_kien], [ngay_to_chuc], [dia_diem], [mo_ta]) VALUES (1, N'Hackathon TNUT 2026', CAST(N'2026-06-15' AS Date), N'Hội trường A', N'Cuộc thi lập trình')
INSERT [dbo].[club_sukien] ([id], [ten_su_kien], [ngay_to_chuc], [dia_diem], [mo_ta]) VALUES (2, N'English Speaking Day', CAST(N'2026-06-20' AS Date), N'Nhà C1', N'Giao lưu tiếng Anh')
INSERT [dbo].[club_sukien] ([id], [ten_su_kien], [ngay_to_chuc], [dia_diem], [mo_ta]) VALUES (3, N'Ngày hội Robotics', CAST(N'2026-07-01' AS Date), N'Xưởng thực hành', N'Triển lãm robot')
SET IDENTITY_INSERT [dbo].[club_sukien] OFF
GO
SET IDENTITY_INSERT [dbo].[django_content_type] ON 

INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (1, N'admin', N'logentry')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (2, N'auth', N'group')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (3, N'auth', N'permission')
SET IDENTITY_INSERT [dbo].[django_content_type] OFF
GO
SET IDENTITY_INSERT [dbo].[django_migrations] ON 

INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (1, N'contenttypes', N'0001_initial', CAST(N'2026-06-02T18:36:36.6734280+00:00' AS DateTimeOffset))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (2, N'auth', N'0001_initial', CAST(N'2026-06-02T18:36:36.8034260+00:00' AS DateTimeOffset))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (3, N'admin', N'0001_initial', CAST(N'2026-06-02T18:36:36.8306090+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[django_migrations] OFF
GO
INSERT [dbo].[django_session] ([session_key], [session_data], [expire_date]) VALUES (N'iy9rnz2atrrx0vu09tlnx4c9cch69r2n', N'.eJxVjEEOwiAQRe_C2hAGChaX7nsGwgyDVA0kpV0Z765NutDtf-_9lwhxW0vYOi9hTuIitBGn3xEjPbjuJN1jvTVJra7LjHJX5EG7nFri5_Vw_w5K7OVbK8dDYlTZAKkBvCbrgSJpSzp7hOzAgh9dcjEDA_isRiayqLQxeNbi_QEIZjfu:1waPAG:x6ZoBZZsBhLmSQHR69lRDBKRpUafKuHlWUdyngbytVw', CAST(N'2026-07-03T02:41:04.0360820+00:00' AS DateTimeOffset))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_group_name_a6ea08ec_uniq]    Script Date: 21/06/2026 7:46:51 CH ******/
ALTER TABLE [dbo].[auth_group] ADD  CONSTRAINT [auth_group_name_a6ea08ec_uniq] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_group_id_b120cbf9]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [auth_group_permissions_group_id_b120cbf9] ON [dbo].[auth_group_permissions]
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_group_id_permission_id_0cd325b0_uniq]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_group_permissions_group_id_permission_id_0cd325b0_uniq] ON [dbo].[auth_group_permissions]
(
	[group_id] ASC,
	[permission_id] ASC
)
WHERE ([group_id] IS NOT NULL AND [permission_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_group_permissions_permission_id_84c5c92e]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [auth_group_permissions_permission_id_84c5c92e] ON [dbo].[auth_group_permissions]
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_permission_content_type_id_2f476e4b]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [auth_permission_content_type_id_2f476e4b] ON [dbo].[auth_permission]
(
	[content_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_permission_content_type_id_codename_01ab375a_uniq]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_permission_content_type_id_codename_01ab375a_uniq] ON [dbo].[auth_permission]
(
	[content_type_id] ASC,
	[codename] ASC
)
WHERE ([content_type_id] IS NOT NULL AND [codename] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_user_username_6821ab7c_uniq]    Script Date: 21/06/2026 7:46:51 CH ******/
ALTER TABLE [dbo].[auth_user] ADD  CONSTRAINT [auth_user_username_6821ab7c_uniq] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_groups_group_id_97559544]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [auth_user_groups_group_id_97559544] ON [dbo].[auth_user_groups]
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_groups_user_id_6a12ed8b]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [auth_user_groups_user_id_6a12ed8b] ON [dbo].[auth_user_groups]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_groups_user_id_group_id_94350c0c_uniq]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_user_groups_user_id_group_id_94350c0c_uniq] ON [dbo].[auth_user_groups]
(
	[user_id] ASC,
	[group_id] ASC
)
WHERE ([user_id] IS NOT NULL AND [group_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_user_permissions_permission_id_1fbb5f2c]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [auth_user_user_permissions_permission_id_1fbb5f2c] ON [dbo].[auth_user_user_permissions]
(
	[permission_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_user_permissions_user_id_a95ead1b]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [auth_user_user_permissions_user_id_a95ead1b] ON [dbo].[auth_user_user_permissions]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [auth_user_user_permissions_user_id_permission_id_14a6b632_uniq]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [auth_user_user_permissions_user_id_permission_id_14a6b632_uniq] ON [dbo].[auth_user_user_permissions]
(
	[user_id] ASC,
	[permission_id] ASC
)
WHERE ([user_id] IS NOT NULL AND [permission_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [club_dangkyclb_clb_id_0b33844f]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [club_dangkyclb_clb_id_0b33844f] ON [dbo].[club_dangkyclb]
(
	[clb_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [club_dangkyclb_sinh_vien_id_b79f336f]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [club_dangkyclb_sinh_vien_id_b79f336f] ON [dbo].[club_dangkyclb]
(
	[sinh_vien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [club_dangkysukien_sinh_vien_id_e71b606a]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [club_dangkysukien_sinh_vien_id_e71b606a] ON [dbo].[club_dangkysukien]
(
	[sinh_vien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [club_dangkysukien_su_kien_id_af420416]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [club_dangkysukien_su_kien_id_af420416] ON [dbo].[club_dangkysukien]
(
	[su_kien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [club_filethanhviensukien_su_kien_id_ab5b7700]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [club_filethanhviensukien_su_kien_id_ab5b7700] ON [dbo].[club_filethanhviensukien]
(
	[su_kien_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__club_hos__B9BE370EB44C3A4F]    Script Date: 21/06/2026 7:46:51 CH ******/
ALTER TABLE [dbo].[club_hososinhvien] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [club_hososinhvien_clb_quan_ly_id_cc8e00d8]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [club_hososinhvien_clb_quan_ly_id_cc8e00d8] ON [dbo].[club_hososinhvien]
(
	[clb_quan_ly_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [club_tailieuclb_clb_id_8205d603]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [club_tailieuclb_clb_id_8205d603] ON [dbo].[club_tailieuclb]
(
	[clb_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [club_thanhvien_clb_id_93bd471e]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [club_thanhvien_clb_id_93bd471e] ON [dbo].[club_thanhvien]
(
	[clb_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [club_thongbaoclb_clb_id_d1b5dd61]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [club_thongbaoclb_clb_id_d1b5dd61] ON [dbo].[club_thongbaoclb]
(
	[clb_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_admin_log_content_type_id_c4bce8eb]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [django_admin_log_content_type_id_c4bce8eb] ON [dbo].[django_admin_log]
(
	[content_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_admin_log_user_id_c564eba6]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [django_admin_log_user_id_c564eba6] ON [dbo].[django_admin_log]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [django_content_type_app_label_model_76bd3d3b_uniq]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [django_content_type_app_label_model_76bd3d3b_uniq] ON [dbo].[django_content_type]
(
	[app_label] ASC,
	[model] ASC
)
WHERE ([app_label] IS NOT NULL AND [model] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [django_session_expire_date_a5c62663]    Script Date: 21/06/2026 7:46:51 CH ******/
CREATE NONCLUSTERED INDEX [django_session_expire_date_a5c62663] ON [dbo].[django_session]
(
	[expire_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_permission]  WITH CHECK ADD  CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[auth_permission] CHECK CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[club_dangkyclb]  WITH CHECK ADD  CONSTRAINT [club_dangkyclb_clb_id_0b33844f_fk_club_caulacbo_id] FOREIGN KEY([clb_id])
REFERENCES [dbo].[club_caulacbo] ([id])
GO
ALTER TABLE [dbo].[club_dangkyclb] CHECK CONSTRAINT [club_dangkyclb_clb_id_0b33844f_fk_club_caulacbo_id]
GO
ALTER TABLE [dbo].[club_dangkyclb]  WITH CHECK ADD  CONSTRAINT [club_dangkyclb_sinh_vien_id_b79f336f_fk_club_hososinhvien_id] FOREIGN KEY([sinh_vien_id])
REFERENCES [dbo].[club_hososinhvien] ([id])
GO
ALTER TABLE [dbo].[club_dangkyclb] CHECK CONSTRAINT [club_dangkyclb_sinh_vien_id_b79f336f_fk_club_hososinhvien_id]
GO
ALTER TABLE [dbo].[club_dangkysukien]  WITH CHECK ADD  CONSTRAINT [club_dangkysukien_sinh_vien_id_e71b606a_fk_club_hososinhvien_id] FOREIGN KEY([sinh_vien_id])
REFERENCES [dbo].[club_hososinhvien] ([id])
GO
ALTER TABLE [dbo].[club_dangkysukien] CHECK CONSTRAINT [club_dangkysukien_sinh_vien_id_e71b606a_fk_club_hososinhvien_id]
GO
ALTER TABLE [dbo].[club_dangkysukien]  WITH CHECK ADD  CONSTRAINT [club_dangkysukien_su_kien_id_af420416_fk_club_sukien_id] FOREIGN KEY([su_kien_id])
REFERENCES [dbo].[club_sukien] ([id])
GO
ALTER TABLE [dbo].[club_dangkysukien] CHECK CONSTRAINT [club_dangkysukien_su_kien_id_af420416_fk_club_sukien_id]
GO
ALTER TABLE [dbo].[club_filethanhviensukien]  WITH CHECK ADD  CONSTRAINT [club_filethanhviensukien_su_kien_id_ab5b7700_fk_club_sukien_id] FOREIGN KEY([su_kien_id])
REFERENCES [dbo].[club_sukien] ([id])
GO
ALTER TABLE [dbo].[club_filethanhviensukien] CHECK CONSTRAINT [club_filethanhviensukien_su_kien_id_ab5b7700_fk_club_sukien_id]
GO
ALTER TABLE [dbo].[club_hososinhvien]  WITH CHECK ADD  CONSTRAINT [club_hososinhvien_clb_quan_ly_id_cc8e00d8_fk_club_caulacbo_id] FOREIGN KEY([clb_quan_ly_id])
REFERENCES [dbo].[club_caulacbo] ([id])
GO
ALTER TABLE [dbo].[club_hososinhvien] CHECK CONSTRAINT [club_hososinhvien_clb_quan_ly_id_cc8e00d8_fk_club_caulacbo_id]
GO
ALTER TABLE [dbo].[club_hososinhvien]  WITH CHECK ADD  CONSTRAINT [club_hososinhvien_user_id_561c5b2e_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[club_hososinhvien] CHECK CONSTRAINT [club_hososinhvien_user_id_561c5b2e_fk_auth_user_id]
GO
ALTER TABLE [dbo].[club_hososinhvien]  WITH CHECK ADD  CONSTRAINT [FK_HoSoSinhVien_CLB] FOREIGN KEY([clb_id])
REFERENCES [dbo].[club_caulacbo] ([id])
GO
ALTER TABLE [dbo].[club_hososinhvien] CHECK CONSTRAINT [FK_HoSoSinhVien_CLB]
GO
ALTER TABLE [dbo].[club_tailieuclb]  WITH CHECK ADD  CONSTRAINT [club_tailieuclb_clb_id_8205d603_fk_club_caulacbo_id] FOREIGN KEY([clb_id])
REFERENCES [dbo].[club_caulacbo] ([id])
GO
ALTER TABLE [dbo].[club_tailieuclb] CHECK CONSTRAINT [club_tailieuclb_clb_id_8205d603_fk_club_caulacbo_id]
GO
ALTER TABLE [dbo].[club_thanhvien]  WITH CHECK ADD  CONSTRAINT [club_thanhvien_clb_id_93bd471e_fk_club_caulacbo_id] FOREIGN KEY([clb_id])
REFERENCES [dbo].[club_caulacbo] ([id])
GO
ALTER TABLE [dbo].[club_thanhvien] CHECK CONSTRAINT [club_thanhvien_clb_id_93bd471e_fk_club_caulacbo_id]
GO
ALTER TABLE [dbo].[club_thongbaoclb]  WITH CHECK ADD  CONSTRAINT [club_thongbaoclb_clb_id_d1b5dd61_fk_club_caulacbo_id] FOREIGN KEY([clb_id])
REFERENCES [dbo].[club_caulacbo] ([id])
GO
ALTER TABLE [dbo].[club_thongbaoclb] CHECK CONSTRAINT [club_thongbaoclb_clb_id_d1b5dd61_fk_club_caulacbo_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_action_flag_a8637d59_check] CHECK  (([action_flag]>=(0)))
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_action_flag_a8637d59_check]
GO
USE [master]
GO
